@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove Autofill Background Color */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

@layer utilities {
  .body__overlay {
    @apply after:absolute after:inset-0 after:z-[1000] after:bg-black/50;
  }
}
